<main>
   {{!-- <h1 id="greetings"></h1>
   <form onsubmit="return addGreeting(this)">
      <input type="text" name="greeting" id="greeting">
      <button type="submit">Submit</button>
   </form> --}}
   <section>
    {{> form }}
   </section>
   <section>
    {{> table }}
   </section>
   <section class="m-5 p-5 bg-light">
    {{> chat }}
   </section> 
</main>
