<h2 class="text-primary">Centro de mensajes</h2>
    <div class="chat">
        <div class="chat-header my-3">
            <form onsubmit="return addMessage(this)">
                <input type="email" name="email" id="userEmail" placeholder="diego@outlook.com" required>
            </form>
        </div>
        <div class="chat-body">
            <ul id="messages">
                
            </ul>
        </div>
        <div class="chat-footer">
            <form onsubmit="return addMessage(this)" class="d-flex align-items-baseline">
                <input type="text" name="message" id="textMessage" placeholder="Escribe tu mensaje..." required>
                <input type="submit" value="Enviar" class="btn btn-primary text-opacity-50 m-3">
            </form>
        </div>
    </div>