<div class="bg-light m-5 p-5">
    <h2 class="text-primary">Ingrese Producto</h2>
    <form onsubmit="return addProduct(this)" class="d-flex flex-column align-items-start" style="margin: 1rem;">
        <label for="name">Producto</label>
        <input type="text" name="name" id="name" required>
        <label for="price">Precio</label>
        <input type="number" name="price" id="price" required>
        <label for="image">Imagen</label>
        <input type="text" name="image" id="image" required>
        <input type="submit" value="Enviar" class="btn btn-success mt-3 mb-5">
    </form>
</div>